:root {
    --bg-color-1: #141A33;
    --bg-color-2: white;
    --text-color-1: white;
    --text-color-2: var(--bg-color-1);
    --spacer: #ECEAE6;
    --text-nav-color: #707070;
    --header-liner: #806518;
    --text-hover-light-1: #cfd5ec;
    --text-hover-light-2: #a5b0dc;
    --text-hover-dark-1: #354588;
    --text-hover-dark-2: #5165bb;
    --question-box-background: #FBF7EA;
    --transition-speed: 600ms;
    --transition-speed-box: 600ms;
    --transition-speed-table: calc(var(--transition-speed)/2);
    --transition-speed-inputfield: calc(var(--transition-speed)/4);

    font-family: "Segoe UI", "open sans", Arial, Helvetica, sans-serif;

    scrollbar-width: thin; /*for firefox*/
    overflow-x: hidden;
}
:root::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
:root::-webkit-scrollbar-track {
    background: var(--spacer);
}

:root::-webkit-scrollbar-thumb {
    background: var(--text-hover-light-2);
    height: 50%;
}
body {
    background-color: var(--bg-color-2);
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.nowrap {
    white-space: nowrap;
}


/*Nav design*/
    nav {
        display: flex;
        justify-content: space-between;
        color: var(--text-nav-color);
        align-items: baseline;
        padding-bottom:0.5rem;
        z-index: 100;
        position: relative;
        background-color: var(--bg-color-2);
    }
    .nav-element {
        padding: 1rem;
    }
    #page-titel {
        font-size: 30px;
    }
    .nav-links {
        font-size: 22px;
    }
    .nav-links-spacer {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 3px;
        height: 2rem;
        margin-bottom: -0.5rem;
        background-color: var(--spacer);
    }
    .nav-link-a {
        transition: color var(--transition-speed) ease;
        white-space: nowrap;
    }
    .nav-link-a:hover {
        transition: color var(--transition-speed) ease;
        white-space: nowrap;
        color: var(--text-hover-dark-1)
    }
/*Main design*/
    main {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .main-element {
        padding-bottom: 2rem;
    }
    .main-element:nth-child(odd) {
        background: var(--bg-color-1);
        color: var(--text-color-1)
    }
    .main-element:nth-child(even) {
        background: var(--bg-color-2);
        color: var(--text-color-2);
    }
    /*for large screens*/
    @media screen and (min-width: 1400px) {
        .main-element {
            padding-left: 400px;
            padding-right: 400px;
            width: calc(100% - 400px - 400px);
        }
        .main-element-landing {
            padding-left: 400px;
            padding-right: 400px;
            width: calc(100% - 400px - 400px);
        }
        .game-element {
            padding-left: 400px;
            width: calc(100% - 400px);
        }
    }

    /*for small screens*/
    @media screen and (max-width: 1400px) {
        .main-element {
            padding-left: 20%;
            padding-right: 20%;
            width: 60%;
        }
        .main-element-landing {
            padding-left: 20%;
            padding-right: 20%;
            width: 60%;
        }
        .game-element {
            padding-left: 20%;
            width: 80%;
        }
    }

    .main-element-landing {
        padding-top: 5rem;
        padding-bottom: 0rem;
        margin-bottom: -4rem;
        background: var(--bg-color-1);
        color: var(--text-color-1)
    }
    .main-element-landing h1 {
        font-size: 60px;
        font-weight: normal;
    }
    .landing-divider {
        display: inline-block;
        /*margin-top: 1rem;
        margin-bottom: 1rem;*/
        width: 500px;
        height: 5px;
        background-color: var(--header-liner);
    }
    #bigDataPic {
        display: block;
        margin-left: 30rem;
        transform: scale(0.6);
        margin-top: -30rem;
        overflow: hidden;
    }
    .link-arrow {
        transition: margin-left var(--transition-speed) ease;
        margin-left: 5px;
        transform: scale(1)
    }
    .frontpage-link:hover .link-arrow {
        transition: var(--transition-speed) ease;
        margin-left: 15px;
        transform: scale(1.1);
    }
    /* frontpage underline animation */
    .custom-underline {
        position: relative;
        color: var(--text-color-1);
        text-decoration: none;
    }
    .custom-underline:hover {
        color: var(--text-color-1);
    }
    .custom-underline:before {
        content: "";
        position: absolute;
        /* width: 100%; */
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--text-color-1);
        visibility: visible;
        width: 0%;
        transition: all 0.3s ease-in-out 0s;
    }
    .custom-underline:hover:before {
        visibility: visible;
        transform: scaleX(1);
        width: 85%;
    }

    /**/

    .main-element h2 {
        font-size: 40px;
        font-weight: normal;
    }
    .main-element h2 span {
        padding-bottom: 5px;
        padding-right: 10px;
        border-bottom: 5px solid var(--header-liner);
    }
    .main-element p {
        font-size: 20px;
    }
    .main-element:nth-child(odd) a {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-light-1);
    }
    .main-element:nth-child(odd) a:hover {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-light-2)
    }
    .main-element:nth-child(even) a {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-dark-1);
    }
    .main-element:nth-child(even) a:hover {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-dark-2)
    }

    /*button design*/
    .btn {
        margin: 0px;
        background-color: inherit;
        padding: 1rem;
        border: 0px;
        transition: var(--transition-speed-inputfield) ease;
    }
    .btn:hover {
        transition: var(--transition-speed-inputfield) ease;
        filter: brightness(130%);
    }
    .game-download {
        background-color: var(--bg-color-1);
        color: var(--text-color-1);
        font-size: 20px;
    }

    /* Game page designs */
    .game-picture-phone-element {
        display: none;
    }
    .game-element {
        padding-bottom: 0px;
    }
    /* Top panel setup */
        /* Standard setup */
        .game-picture {
            clip-path: polygon(40% 0%, 0% 100%, 100% 100.00%, 100% 0%);
            shape-outside: polygon(40% 0%, 0% 100%, 100% 100.00%, 100% 0%);
            z-index: 50;
            position: relative;
            
        }
        

        /*for large screens*/
        @media screen and (min-width: 1601px) {
            .game-picture {
                display: block;
                width: 1100px;
                float: right;
            }
            .game-picture2 {
                display: none;
            }
        }

        /*for medium screens*/
        @media screen and (min-width: 1181px) and (max-width: 1600px) {
            .game-picture {
                display: block;
                width: 700px;
                float: right;
            }
            .game-picture2 {
                display: none;
            }
        }


        /*for small screens*/
        @media screen and (max-width: 1180px) {
            
            .game-picture {
                order: 10;
                clip-path: polygon(0% 0%, 0% 100%, 100% 100.00%, 100% 0%);
                shape-outside: polygon(0% 0%, 0% 100%, 100% 100.00%, 100% 0%);
                width: 100%;
                z-index: 50;
                position: relative;
            }
            .game-element {
                padding-left: 20%;
                padding-right: 20%;
                width: 60%;
            }
            .game-picture {
                display: none;
            }
            .game-picture2 {
                display: block;
                float: center;
            }
        }

        /* Game description section */
        .game-description-element {


        }

    /*qustion section*/
    
    .question-section {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .question-element {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .question-header {
        display: flex;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 2rem;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: var(--spacer);
        font-size: 25px;
        font-family: "Segoe UI", "open sans", Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
    .question-header h4 {
        font-family: "Segoe UI", "open sans", Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding-bottom: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .x-icon {
        transition: transform var(--transition-speed) ease;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        transform: rotate(0deg);
    }
    .question-body {
        overflow-y: hidden;
        padding: 0.5rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
        display: flex;
        flex-direction: column;
        background-color: var(--question-box-background);
        transition: max-height var(--transition-speed) ease;
    }
    
    /* cusotm question max heights */
    .question1-body {
        max-height: 67px;
    }
    .question2-body {
        max-height: 67px;
    }
    .question3-body {
        max-height: 67px;
    }
    /* closing classes */
    .icon-closed {
        transition:transform  var(--transition-speed) ease;
        transform: rotate(45deg);
    }
    .body-closed {
        transition: max-height var(--transition-speed) ease;
        max-height: 0px;
        overflow-y: hidden;
    }

/*footer*/
    #footer {
        background-color: var(--bg-color-1);
        color: var(--text-color-1);
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        background-color: var(--bg-color-1);
    }
    #footer a {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-light-1);
    }
    #footer a:hover {
        transition: color var(--transition-speed) ease;
        color: var(--text-hover-light-2)
    }
    .footer-element {
        padding-right: 1rem;
    }
    .footer-element:last-child {
        padding-right: 0rem;
    }
    #footer h3 {
        font-size: 25px;
        font-family: "Segoe UI", "open sans", Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
    